.App {
    font-family: "Rhodium Libre", sans-serif;
    text-align: center;
    display: flex;
    height: 80vh;
  }
  
  .images {
    background: #defcff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }
  
  .image {
    margin: 5px;
    cursor: pointer;
    width: 33%;
    max-width: 150px;
    height: 150px;
  }
  
  .image img {
    width: 100%;
    border: 5px solid transparent;
  }
  
  img.selected {
    border-color: #0085ff;
  }
  
  .metadata {
    width: 230px;
    height: 100%;
    background: #c4c4c4;
    flex-grow: 0;
  }
  
  button {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border: 0px;
    cursor: pointer;
  }
  
  input {
    width: 145px;
    height: 20px;
    margin: 5px;
    border: 0px;
  }
  